{
    "extends": "react-app",
    "ignorePatterns": [
        "build/*",
        "serviceWorker.js"
    ],
    "plugins": [
        "prettier"
    ],
    "rules": {
        "prettier/prettier": "error"
    }
}